
RewriteEngine on
RewriteCond %{HTTP_HOST} ^nativehooping.techland360.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.nativehooping.techland360.com$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]